body{
    display:flex;
    flex-direction:column;
    background-color: #1F2937;
    margin:0;
}

/* Header */
.header img{
    width: 90px;
    height:90px;
}

.header{
    display:flex;
    justify-content: space-between;
}

ul{
    display:flex;
    list-style-type: none;
    gap: 16px;
    padding-right:10px;
}

a{
    text-decoration: none;
    color:#99ccff;
}

/*Description*/
.description{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:90px;
}

.description img{
    width: 400px;
    height:250px;
    padding:40px;
}

.val-description h1{
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}
.val-description p{
    font-size: 18px;
    color: #e5e7eb;;
    width: 500px;
    padding: 10px;
}

.val-description{
    display:flex;
    flex-direction:column;
}

.val-description button{
    border-radius: 8px;
    border:none;
    background-color: #ff6666;
    color: white;
    font-weight: bold;

}

/*CONTENT*/
.content{
    background-color: white;
    align-items: center;
    padding-bottom: 20px;
}

.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.content img{
    width: 300px;
    height:200px;
    border: 5px solid #1F2937;
}
.content h2{
    font-size: 36px;
    color: black;
    display:flex;
    justify-content: center;

}

.text{
    width: 300px;
    font-size: 17px;
}

/*QUOTE*/
.quote{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6666;
    padding: 24px;
}

.chamber-quote{
    font-size:36px;
    font-weight:900px;
    color: white;
}

.chamber-ref{
    color:white;
    font-weight:900;
}

/*SIGN UP*/
.sign-up{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
